[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aptible-api = {file = "https://github.com/trialspark/aptible-api/archive/refs/tags/v0.2.2.tar.gz"}
click = "*"
click-log = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
